*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.root{
  --color: #dcdcdc;
  --color2: white; 
}

.logo {
  width: 100px;

  position: relative;
  top: -3px;
}
.flex{
  display: flex;
}


.meu{
  height: 38px;
  position: relative;
  bottom: 1px;
  background: white;
  border: none;


}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.form-login{
  margin-top: 10px;
  height: 32px;
  padding: 2px;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
}
.botao-login{
  margin-top: 5px;
  width: 185px;
  padding: 2px;
  border-radius: 5px;
  color: white;
  border: 1px solid var(--color);
  padding: 3px;
}
.botao-login_2{
  margin-top: 30px;
  width: 184px;
  border-radius: 5px;
  padding: 2px;
  border: 1px solid var(--color);
  background: var(--color);
  height: 30px;
 
}
.botao-login_2 a{
  color: white;
}



.button-principal:hover{
  background: #dcdcdc;
}
.button-principal{
  background: white;
  border: none;
  position: relative;
  right: 10px;
  bottom:1px;
 
  border-radius: 4px;
  padding: 10px;
  padding-top: 7px;
  height: 38px;
}
#botao-cadastre-se, #botao-login{
  color: white;
  border: none;
  background: none;
}
.nave-principal{

  margin-bottom: 8px;
   margin-left: 10px;

}
.li-pri{
  padding-left: 10px;
  margin-left: 10px;

}
#perfil{
  height: 30px;
  width: 35px;
  margin-top: 12px;
  padding-left: 6px;

}
#per{
  background: white;
  border-radius: 20px;
  cursor: pointer;
}
.div-login{
  
 display: none;
}
.aparece{
  position: absolute;
  display: hidden;
  left: 83%;
  top: 11%;
  border: 1px solid var(--color);
 width: 210px;
 height: 210px;
  padding-left: 12px;
  padding-top: 8px;
 background: #dcdcdc;
 border-radius: 5px;
}
.desaparece{
  display: none;
}

@media only screen and (min-width:1000px){
  .meu{
    width: 700px;
  }
}

@media only screen and (min-width:523px) and (max-width: 1000px){
  .meu{
    width: 500px;
  }

}
@media only screen and (min-width:360px) and (max-width: 523px){
  .meu{
    width: 200px;
  }

}
