*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.root{
  --color: #dcdcdc;
  --color2: white; 
}

.logo {
  width: 100px;

  position: relative;
  top: -3px;
}
.flex{
  display: flex;
}


.meu{
  height: 38px;
  position: relative;
  bottom: 1px;
  background: white;
  border: none;


}
  
.button-principal:hover{
  background: #dcdcdc;
}
.button-principal{
  background: white;
  border: none;
  position: relative;
  right: 10px;
  bottom:1px;
 
  border-radius: 4px;
  padding: 10px;
  padding-top: 7px;
  height: 38px;
}
#botao-cadastre-se, #botao-login{
  color: white;
  border: none;
  background: none;
}  
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.nave-principal{

  margin-bottom: 8px;
   margin-left: 10px;

}
.li-pri{
  padding-left: 10px;
  margin-left: 10px;

}
#perfil{
  height: 30px;
  width: 35px;
  margin-top: 12px;
  padding-left: 6px;

}
#per{
  background: white;
  border-radius: 20px;
  cursor: pointer;
}




@media only screen and (min-width:1000px){
  .meu{
    width: 700px;
  }
}

@media only screen and (min-width:523px) and (max-width: 1000px){
  .meu{
    width: 500px;
  }

}
@media only screen and (min-width:360px) and (max-width: 523px){
  .meu{
    width: 200px;
  }

}
