*{
    box-sizing: border-box;
   margin: 0;
   padding: 0;
}
a, a:hover{
    text-decoration: none;
}
.logo {
  width: 150px;
  margin-left: 32%;
  background-color: rgb(128, 128, 128, 0.2);
  border-radius: 90px;
}

.formu-login{
    margin-top: 2%;
    margin-left: 5%;
    
  
  }
  #login_h1{
     margin-left: 36%;
     margin-top: 25px;
  }
  #div-login{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    border: 1px solid var(--color);
    width: 525px;
    height: 525px;
    padding-left: 12px;
    padding-top: 8px;
    /*background: #dcdcdc;*/
    border-radius: 5px;
  }
  .form-login{
    margin-top: 20px;
    height: 40px;
    width: 450px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
  }
  .form-login_2{
    margin-top: 15px;
    height: 40px;
    width: 450px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;

  }
  .botao-login{
    margin-top: 15px;
    width: 450px;
    border-radius: 5px;
    color: white;
    border: 1px solid var(--color);
    padding: 3px;
  }
  .botao-login_2{
    color: white;
    margin-top: 20px;
    width: 450px;
    border-radius: 5px;
    padding: 2px;
    border: 1px solid var(--color);
    background: var(--color);
    height: 30px;
   
  }
  .botao-login_2 a{
    color: white;
  }
  
  #facebook, #google{
    padding: 5px;
  }
  
  
  .button-principal:hover{
    background: #dcdcdc;
  }
  .button-principal{
    background: white;
    border: none;
    position: relative;
    right: 10px;
    bottom:1px;
   
    border-radius: 4px;
    padding: 10px;
    padding-top: 7px;
    height: 38px;
  }
  #botao-cadastre-se, #botao-login{
    color: white;
    border: none;
    background: none;
  } 
  
  .senhas{
    position: relative;
    top: 20px;
    left: 30%;
   
  }
  .senhas_2{
   
    margin-left: 20%;
    margin-top: 35px;
  }

  .linha{

    border: 1px solid red;
  }
  .img_linha{
    width: 41px;
    color: #dcdcdc;
  }
  .div-linha{
    margin-top: 10px;
    width: 200px;
    margin-left: 34%;



  }