*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.logo {
  width: 100px;

  position: relative;
  top: -3px;
}
.flex{
  display: flex;
}
.meu{
  height: 38px;
  position: relative;
  bottom: 1px;
  background: white;
  border: none;


}


.button-principal:hover{
  background: #dcdcdc;
}
.button-principal{
  background: white;
  border: none;
  position: relative;
  right: 10px;
  bottom:1px;
 
  border-radius: 4px;
  padding: 10px;
  padding-top: 7px;
  height: 38px;
}



@media only screen and (min-width:1000px){
  .meu{
    width: 700px;
  }
}

@media only screen and (min-width:523px) and (max-width: 1000px){
  .meu{
    width: 500px;
  }

}
@media only screen and (min-width:360px) and (max-width: 523px){
  .meu{
    width: 200px;
  }

}
